.main-page{
    padding: 200px 150px 100px 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-page-title{
    font-size: 3em;
    font-family: 'Roboto-thin', sans-serif;
}

.main-page-text{
    display: flex;
    flex-direction: column;
    font-size: 2em;
    font-family: 'Roboto-thin', sans-serif;
}

.main-page-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.main-page a{
    text-decoration: none;
    color: $primary-color;
}