* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Condensed.ttf");
}
@font-face {
  font-family: "Roboto-thin";
  src: url("../assets/fonts/Roboto-Light.ttf");
}
.container {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 2fr;
  grid-template-areas: "aboutme" "myproject" "contactme" "footer";
  font-family: "Roboto", sans-serif;
}

.header {
  font-family: "Roboto-thin", sans-serif;
  display: flex;
  flex-direction: row;
  background-image: url("../assets/images/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 2em;
  padding: 20px 150px 100px 150px;
  position: fixed;
  width: 100%;
  height: 100px;
}

.header a {
  color: white;
  text-decoration: none;
}

.navigator {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-left: 600px;
}

.button-nav {
  font-size: 1.1em;
  border: none;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}

.presentation {
  padding: 200px 150px 100px 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: rgb(30, 115, 126);
}

.presentation-text {
  padding-left: 50px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 2.5em;
  font-family: "Roboto-thin", sans-serif;
  width: 70%;
}

.presentation-image {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 30%;
  background-image: url("../assets/images/icono-camara-fotografica.png");
  background-size: cover;
  background-position: center;
  background-image: no-repeat;
  border-radius: 100px;
}

.main-page {
  padding: 200px 150px 100px 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-page-title {
  font-size: 3em;
  font-family: "Roboto-thin", sans-serif;
}

.main-page-text {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  font-family: "Roboto-thin", sans-serif;
}

.main-page-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.main-page a {
  text-decoration: none;
  color: rgb(30, 115, 126);
}

.myproject {
  padding: 50px 150px 100px 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(83, 148, 142, 0.678);
  color: rgb(30, 115, 126);
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 125px;
  align-content: center;
  text-align: center;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  border-radius: 10px;
}

.project-title {
  font-size: 2em;
  font-family: "Roboto-thin", sans-serif;
  width: 100%;
  padding: 30px 10px 0px 10px;
}

.project-text {
  font-size: 1.5em;
  font-family: "Roboto-thin", sans-serif;
  padding: 200px 20px 20px 20px;
  width: 100%;
}

.project-image-block1 {
  background-image: url("../assets/images/8.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project-image-block2 {
  background-image: url("../assets/images/12.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project-image-block3 {
  background-image: url("../assets/images/9.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project-image-block4 {
  background-image: url("../assets/images/4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project-image-block5 {
  background-image: url("../assets/images/5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project-image-block6 {
  background-image: url("../assets/images/5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contactme {
  background-color: rgb(30, 115, 126);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  padding: 75px 150px 100px 150px;
}

.contactme-title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 2.5em;
  font-family: "Roboto-thin", sans-serif;
  width: 70%;
  padding-bottom: 20px;
  padding-right: 50px;
}

.contactme-text {
  display: flex;
  flex-direction: row;
  align-items: left;
  flex-wrap: wrap;
  font-size: 2.5em;
  font-family: "Roboto-thin", sans-serif;
  width: 50%;
  padding-right: 150px;
}

.contactme-image {
  display: flex;
  flex-direction: row;
  align-items: right;
  flex-wrap: wrap;
  width: 50%;
  background-image: url("../assets/images/3.png");
  background-size: cover;
  background-position: center;
  background-image: no-repeat;
}

.footer {
  background-color: rgba(83, 148, 142, 0.678);
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  color: rgb(30, 115, 126);
  font-size: 2.5em;
  font-family: "Roboto-thin", sans-serif;
}

/*# sourceMappingURL=master.css.map */
