nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-family: 'Roboto-thin', sans-serif;
    padding: 20px 150px 20px 150px;
    position: fixed;
    background-color: $primary-color;
    width: 100%;
}
nav h1{
    font-size: 3em;
}

nav a{
    text-decoration: none;
    color: $font-color-primary;
}

nav a:hover{
    color: $secondary-color;
}

nav ul{
    display: flex;
    list-style-type: none;
    font-size: 1.5em;
}

nav ul li{
    margin: 30px;
}

.menu-mobile{
    display: none;
}

.selected{
    color: $secondary-color;
}

@media(max-width: 900px) {
    nav{
        padding: 5px 30px 5px 30px;
    }
    nav ul{
        display: none;
    }

    nav h1{
        font-size: 1.5em;
    }

    .menu-mobile{
        display: flex;
    }

    .nav-links-header{
        display: none;
    }
}