.navigator{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-left: 600px;
}

.button-nav{
    font-size: 1.1em;
    border: none;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}