*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Condensed.ttf');
}

@font-face {
    font-family: 'Roboto-thin';
    src: url('../assets/fonts/Roboto-Light.ttf');
}

a{
    text-decoration: none;
    color: black;
}

.container{
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    grid-template-areas:
    "aboutme"
    "myproject" 
    "contactme"
    "footer";
    font-family: 'Roboto', sans-serif;
}